.App {
  font-family: sans-serif;
  text-align: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 5px;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}